{% extends 'base_template.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron">
                <img src="{% static 'img/patflix.jpg' %}" class="img-responsive">

                <h1>Hello, world!</h1>

                <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some
                    responsive-range viewport sizes to see it in action.</p>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-lg-4">
                </div>
                <!--/span-->
                <div class="col-6 col-sm-6 col-lg-4">
                </div>
                <!--/span-->
                <div class="col-6 col-sm-6 col-lg-4">
                </div>
                <!--/span-->
                <div class="col-6 col-sm-6 col-lg-4">
                </div>
                <!--/span-->
                <div class="col-6 col-sm-6 col-lg-4">
                </div>
                <div class="col-6 col-sm-6 col-lg-4">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}