{% extends 'base_template.html' %}
{% load staticfiles %}
{% block content %}

    <script src="{% static "js/movie.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/theatre.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-1.7.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.hashchange.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.easytabs.js' %}/" type="text/javascript"></script>

    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-4 text-center">
                        <img id="cinemaOne" src="{% static 'img/darkknight.jpg' %}">

                        <h3>
                            <button id="info_button1" type="button" class="btn btn-info">Synopsis</button>
                        </h3>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 text-center">
                        <img id="cinemaTwo" src="{% static 'img/inception.jpg' %}">

                        <h3>
                            <button id="info_button2" type="button" class="btn btn-info">Synopsis</button>
                        </h3>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 text-center">
                        <img id="cinemaThree" src="{% static 'img/toystory3.jpg' %}">

                        <h3>
                            <button id="info_button3" type="button" class="btn btn-info">Synopsis</button>
                        </h3>
                    </div>
                    <div class="row row-offcanvas row-offcanvas-right">
                        <div class="col-xs-12">
                            <div class="col-6 col-sm-6 col-md-4">
                            </div>
                            <div class="col-6 col-sm-12">
                                <div id="movie_synopsis"></div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div id="tab-container" class="tab-container">
                                <ul class='etabs'>
{#                                    <li id='tab1'><a href="#tabs1-html">Showtime1</a></li>#}
                                      <li id="tab1"><button id="info_button1" type="button" class="btn btn-info">Showtime</button></li>

                                    <li id='tab2'><a href="#tabs1-js">Showtime2</a></li>
                                    <li id='tab3'><a href="#tabs1-css">Showtime3</a></li>
                                </ul>
                                <div id="tabs1-html">
                                    <table id="showtable"></table>
                                </div>
                            </div>
                        </div>
                        <div class="col -md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}