{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="{% static "js/movie.js" %}"></script>
    <script src="{% static "js/jquery.seat-charts.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.seat-charts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div id="seat-map" class="seatCharts-container" tabindex="0" aria-activedescendant="9_5">
    <div class="front-indicator">Front</div>

    <div class="seatCharts-row">
        <div class="seatCharts-cell seatCharts-space">1</div>
        <div id="1_1" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available first-class">1
        </div>
        <div id="1_2" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell first-class unavailable">2
        </div>
        <div class="seatCharts-cell seatCharts-space"></div>
        <div id="1_4" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available first-class">3
        </div>
        <div id="1_5" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available first-class">4
        </div>
    </div>
    <div class="seatCharts-row">
        <div class="seatCharts-cell seatCharts-space">2</div>
        <div id="2_1" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available first-class">5
        </div>
        <div id="2_2" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available first-class">6
        </div>
        <div class="seatCharts-cell seatCharts-space"></div>
        <div id="2_4" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available first-class">7
        </div>
        <div id="2_5" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available first-class">8
        </div>
    </div>
    <div class="seatCharts-row">
        <div class="seatCharts-cell seatCharts-space">3</div>
        <div id="3_1" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">9
        </div>
        <div id="3_2" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">10
        </div>
        <div class="seatCharts-cell seatCharts-space"></div>
        <div id="3_4" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">11
        </div>
        <div id="3_5" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">12
        </div>
    </div>
    <div class="seatCharts-row">
        <div class="seatCharts-cell seatCharts-space">4</div>
        <div id="4_1" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell economy-class unavailable">13
        </div>
        <div id="4_2" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">14
        </div>
        <div class="seatCharts-cell seatCharts-space"></div>
        <div id="4_4" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">15
        </div>
        <div id="4_5" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">16
        </div>
    </div>
    <div class="seatCharts-row">
        <div class="seatCharts-cell seatCharts-space">5</div>
        <div id="5_1" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">17
        </div>
        <div id="5_2" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">18
        </div>
        <div class="seatCharts-cell seatCharts-space"></div>
        <div class="seatCharts-cell seatCharts-space"></div>
        <div class="seatCharts-cell seatCharts-space"></div>
    </div>
    <div class="seatCharts-row">
        <div class="seatCharts-cell seatCharts-space">6</div>
        <div id="6_1" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">19
        </div>
        <div id="6_2" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">20
        </div>
        <div class="seatCharts-cell seatCharts-space"></div>
        <div id="6_4" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">21
        </div>
        <div id="6_5" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">22
        </div>
    </div>
    <div class="seatCharts-row">
        <div class="seatCharts-cell seatCharts-space">7</div>
        <div id="7_1" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell economy-class unavailable">23
        </div>
        <div id="7_2" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell economy-class unavailable">24
        </div>
        <div class="seatCharts-cell seatCharts-space"></div>
        <div id="7_4" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">25
        </div>
        <div id="7_5" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">26
        </div>
    </div>
    <div class="seatCharts-row">
        <div class="seatCharts-cell seatCharts-space">8</div>
        <div id="8_1" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">27
        </div>
        <div id="8_2" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">28
        </div>
        <div class="seatCharts-cell seatCharts-space"></div>
        <div id="8_4" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">29
        </div>
        <div id="8_5" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">30
        </div>
    </div>
    <div class="seatCharts-row">
        <div class="seatCharts-cell seatCharts-space">9</div>
        <div id="9_1" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">31
        </div>
        <div id="9_2" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">32
        </div>
        <div id="9_3" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell available economy-class">33
        </div>
        <div id="9_4" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell economy-class available">34
        </div>
        <div id="9_5" role="checkbox" aria-checked="false" focusable="true" tabindex="-1"
             class="seatCharts-seat seatCharts-cell economy-class available">35
        </div>
    </div>
</div>
</body>
</html>